<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加允许的IP</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>

<body>

<!--头部-->
<div th:replace="header :: header"></div>
<div style="width:800px;height:100%;margin-left:270px;margin-top:80px;">
    <form action="/insert" method="post">
        ip：<input class="form-control" type="text" th:value="${ip.ip}" name="ip"><br>
        IP属地：<input class="form-control" type="text" th:value="${ip.address}" name="address"><br>
        备注：<input class="form-control" type="text" name="comment"><br>
        <button class="btn btn-primary btn-lg btn-block">保存</button>
    </form>
</div>

</body>
</html>
